<div id="wrapper">
  <h1>{{title}}</h1>

  <div id="studenplanbox">
    <div id="studenplanboxselection">
      <select name="schoolclass" [(ngModel)]="currentschoolclass" (change)="getUnitsbyClassname(currentschoolclass)">
        <option *ngFor="let schoolclass of listofschoolclasses">{{schoolclass.id}}</option>
      </select>
      <button (click)="save()">save</button>
    </div>
    <div>

      <table id="table">
        <tr>
          <th></th>
          <th *ngFor="let day of days">{{day}}</th>
        </tr>
        <tr *ngFor="let hour of hours">
          <th>{{hour}}</th>
          <th *ngFor="let f of days; index as i"
              [style.background-color]="getUnit(hour, i).haschanged ? 'red' : 'white'">
            <input name="subject" type="text" [(ngModel)]="getUnit(hour, i).subject"
                   (input)="getUnit(hour, i).haschanged = true">
            <select name="teacher" [(ngModel)]="getUnit(hour, i).teacherID"
                    (change)="getUnit(hour,i).haschanged = true">
              <option *ngFor="let teacher of listofteachers" [value]="teacher.id">
                {{teacher.lastname}}
              </option>
            </select>
          </th>
        </tr>
      </table>
    </div>
  </div>
</div>
