
#wrapper {
  padding: 10px 0px 0px 10px;
  background-color: goldenrod;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

#studenplanbox {
  background-color: bisque;
  width: 80%;

}

#studenplanboxselection {
  background-color: blueviolet;
  min-width: 10%;
  display: flex;
  flex-wrap: wrap;
}

#table {
  background-color: aqua;
  height: 100%;
  width: 100%;
}

.tablecontent {
  background-color: brown;
}

.tablecontentcontent {
  background-color: white;
  display: flex;
  flex-direction: column;
}
