<div id="wrapper">
  <h2>{{title}}</h2>

  <div id="studenplanbox">
    <div id="studenplanboxselection">
      <select>
        <option *ngFor="let class of listofclasses">{{class.id}}</option>

      </select>
      <button>save</button>
    </div>
    <div>
      <table id="table">
        <tr *ngFor="let i of column">
          {{i + 'i'}}
          <td *ngFor="let f of row">
            {{f + 'f'}}
            <div class="tablecontent" *ngFor="let unit of listofunitsserver">
              <div class="tablecontentcontent" *ngIf="unit.day == i-1 && unit.unit == f-1">
                {{unit.subject}}
                <select>
                  <option *ngFor="let teacher of listofteachers" [value]="teacher.id">
                    {{teacher.firstname}}
                  </option>
                </select>
              </div>
            </div>
            {{f}}
          </td>
          <!--<td *ngFor="let unit of listofunitsserver">
            <p>{{unit.subject}}</p>
            <select>
              <option *ngFor="let teacher of listofteachers" [value]="teacher.id">
                {{teacher.firstname}}
              </option>
            </select>
          </td>-->
        </tr>
      </table>

    </div>
  </div>


</div>
